In [1]:
import os
import json
import pandas as pd
import numpy as np
import requests

from collections import defaultdict
from sklearn.neighbors import BallTree

In [2]:
paths = [path for path in os.listdir() if path.endswith(".pickle") and "standers" not in path]

In [3]:
df = pd.DataFrame([pd.read_pickle(path) for path in paths])

In [4]:
# Charging stations
len(df)

1896

Most of the charging stations data points' adresses are formatted nicely and therefore we can use it to identify things we do not want to pick up, i.e. charging stations that are in Germany, Sweden or El Salvador

In [5]:
print(df["address"].apply(lambda x: x.split(",")[-1].strip() if type(x) == str else "fail").unique()[:10], "...")

['Denmark' 'Danmark' 'DK' 'DE' 'Sverige' '7330 Brande'
 'Riggaregatan 211 14 Malmö Sweden' '2900 Hellerup' 'SE' 'Vesterhavsvej'] ...

In [6]:
# How many of the rows are foreign charging stations
print(len(df[df.address.str.contains("(Deutschland|DE|Sweden|Sverige|El Salvador|Germany)")]))

127

/usr/local/lib/python3.9/site-packages/pandas/core/strings/accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [7]:
df = df[-df.address.str.contains("(Deutschland|DE|Sweden|Sverige)")]

In [8]:
# This has jumbled the index, so now there are gaps, we can use the id as new index
df = df.set_index("id")

In [9]:
df.head()

,latitude,longitude,address,created_at,municipality,city,zip_code,plugs,cost_description,description,country_code
id,,,,,,,,,,,
96548,55.494803,9.721409,"Teglgårdsvej 73, 5500 Middelfart, Denmark",2016-10-01T10:37:25Z,Middelfart Municipality,Middelfart,5500,11,Free,Free for hotel guests: http://www.sinatur.dk/m...,DK
337709,55.653682,12.614406,"Elbagade 28, 2300 København, Danmark",2021-09-09T20:26:12Z,None,København,2300,11,Clever,,DK
91943,56.292127,10.444662,"Præstekravevej 46, 8410 Rønde, Denmark",2016-07-25T14:01:47Z,Syddjurs Municipality,Rønde,8410,11,,2x Red CEE Free for hotel guests\nTesla Destin...,DK
70961,55.215571,9.372034,"Sønderjyske Motorvej 684, 6500 Vojens, Denmark",2015-09-12T00:45:42Z,Haderslev Municipality,Vojens,6500,11,clever.dk,"Clever 50 kW DC, 43 kW aC",DK
81790,55.694021,12.544642,"Husumgade 32, 2200 København N, Denmark",2016-03-02T11:14:06Z,København,København,2200,11,,Charging Station Virta,DK

In [10]:
# We don't want to query the API more than we have to, so we take the 7 nearest neighbors of each charging stations to minimize the search space.
distances, knn = BallTree(df.loc[:,["latitude","longitude"]]).query(df.loc[:,["latitude","longitude"]], 8)

In [11]:
# Geo measurement function
def measure(lat_lon_1, lat_lon_2): 
    lat1, lon1 = lat_lon_1
    lat2, lon2 = lat_lon_2
    R = 6378.137
    dLat = lat2 * np.pi / 180 - lat1 * np.pi / 180
    dLon = lon2 * np.pi / 180 - lon1 * np.pi / 180
    a = np.sin(dLat/2) * np.sin(dLat/2) + np.cos(lat1 * np.pi / 180) * np.cos(lat2 * np.pi / 180) * np.sin(dLon/2) * np.sin(dLon/2)
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    d = R * c
    return d * 1000

In [12]:
api_address = df.address.str.replace(" ", "+").str.replace(",", "%2C")

In [13]:
auth = "TsC2DsAoF1-Wz1wBzIMbvlgsz_RRbBKjROIXbb47neI"

In [30]:
#test = requests.get(f"https://router.hereapi.com/v8/routes?apiKey={auth}&transportMode=car&origin=52.5308,13.3847&destination=52.5323,13.3789&return=summary")

In [38]:
del meters[spot]
del backup[spot]

176515

In [16]:
meters = defaultdict() # placeholder list to put to df
backup = defaultdict(list) # backup of all the requests
for i, neighbors_of_point in enumerate(knn):
    spot = df.iloc[neighbors_of_point[0]].name
    orig_lat = df.iloc[neighbors_of_point[0]].latitude
    orig_lon = df.iloc[neighbors_of_point[0]].longitude
    meters[spot] = 1000000000
    for neighbor in neighbors_of_point[1:]:
        dest_lat = df.iloc[neighbor,:].latitude
        dest_lon = df.iloc[neighbor,:].longitude
        query = requests.get(f"https://router.hereapi.com/v8/routes?apiKey={auth}&transportMode=car&origin={orig_lat},{orig_lon}&destination={dest_lat},{dest_lon}&return=travelSummary")
        response = query.json()
        backup[spot].append(response)
        meter = response["routes"][0]["sections"][0]["travelSummary"]["length"]
        if meters[spot] > meter:
            meters[spot] = meter
    if len(backup) % 200 == 0:
        print(f"{len(backup)} responses done...")

200 responses done...
400 responses done...
600 responses done...
800 responses done...
1000 responses done...
1200 responses done...
1400 responses done...
1600 responses done...
1800 responses done...

In [20]:
df.loc[df.index.isin([idx for idx in df.index if idx not in meters])].index

Int64Index([344161, 309578, 249382, 295971, 35794], dtype='int64', name='id')

In [25]:
for NA in [idx for idx in df.index if idx not in meters]:
    meters[NA] = None

In [26]:
new_one = df

In [27]:
new_one["closest_in_meters"] = meters.values()

In [46]:
new_one.country_code.unique()

array(['DK', 'SE', 'DE'], dtype=object)

In [264]:
new_one = new_one[-new_one.zip_code.isin([j for j in [i for i in new_one.zip_code.unique() if type(i) == str] if len(j) > 4])]

In [265]:
new_one

,latitude,longitude,address,created_at,municipality,city,zip_code,plugs,cost_description,description,country_code,closest_in_meters
id,,,,,,,,,,,,
96548,55.494803,9.721409,"Teglgårdsvej 73, 5500 Middelfart, Denmark",2016-10-01T10:37:25Z,Middelfart,Middelfart,5500,11,Free,Free for hotel guests: http://www.sinatur.dk/m...,DK,1507
337709,55.653682,12.614406,"Elbagade 28, 2300 København, Danmark",2021-09-09T20:26:12Z,København,København,2300,11,Clever,,DK,233
91943,56.292127,10.444662,"Præstekravevej 46, 8410 Rønde, Denmark",2016-07-25T14:01:47Z,Syddjurs,Rønde,8410,11,,2x Red CEE Free for hotel guests\nTesla Destin...,DK,2753
70961,55.215571,9.372034,"Sønderjyske Motorvej 684, 6500 Vojens, Denmark",2015-09-12T00:45:42Z,Haderslev,Vojens,6500,11,clever.dk,"Clever 50 kW DC, 43 kW aC",DK,8945
81790,55.694021,12.544642,"Husumgade 32, 2200 København N, Denmark",2016-03-02T11:14:06Z,København,København,2200,11,,Charging Station Virta,DK,423
...,...,...,...,...,...,...,...,...,...,...,...,...
62736,56.159506,10.184633,"Tage-Hansens Gade 2, 8000 Aarhus, Denmark",2015-04-02T05:20:34Z,Aarhus,Aarhus,8000,11,E.ON (http://www.eon.dk/e-mobility/),Charging Station Virta\n- Standere: 3\nLadere: 6,DK,None
321501,55.242290,9.497206,Kroghs kobbel 16,2021-06-02T12:52:18Z,Haderslev,Haderslev,6100,11,"2kr pr kWh hvis du bruger Monta appen , eller...",På væggen i carporten\nMan kan lade med MONTA ...,DK,None
88915,55.687290,12.523956,"Nordre Fasanvej 57, 2000 Frederiksberg, Denmark",2016-06-05T11:32:27Z,Frederiksberg,Frederiksberg,2000,11,E.ON (http://www.eon.dk/e-mobility/),,DK,None
125243,57.486636,10.337960,"Bakkevej 142, 9870‎ Sindal, Denmark",2017-08-13T18:17:00Z,Hjørring,Sindal,9870,11,Pt koster det 3kr pr kw når man lejer spejder ...,FDF Spejderhytte med rødt CEE stik med 16 A si...,DK,None
321570,55.737050,12.511440,"Jonas Lies Vej 12, 2860 Søborg, Denmark",2021-06-02T18:10:56Z,Gladsaxe,Søborg,2860,11,,6stk Clever Type2,DK,None

In [55]:
new_one.to_pickle("standers.pickle")

In [76]:
#meters = defaultdict() # placeholder list to put to df
#backup = defaultdict(list) # backup of all the requests
for i, neighbors_of_point in enumerate([knn[nei] for nei in df.loc[df['id'].isin([idx for idx in df.id if idx not in meters])].index]):
    spot = df.iloc[neighbors_of_point[0]].id
    orig_lat = df.iloc[neighbors_of_point[0]].latitude
    orig_lon = df.iloc[neighbors_of_point[0]].longitude
    meters[spot] = 1000000000
    for neighbor in neighbors_of_point[1:]:
        dest_lat = df.iloc[neighbor,:].latitude
        dest_lon = df.iloc[neighbor,:].longitude
        fuck = requests.get(f"https://router.hereapi.com/v8/routes?apiKey={auth}&transportMode=car&origin={orig_lat},{orig_lon}&destination={dest_lat},{dest_lon}&return=travelSummary")
        response = fuck.json()
        backup[spot].append(response)
        meter = response["routes"][0]["sections"][0]["travelSummary"]["length"]
        if meters[spot] > meter:
            meters[spot] = meter
    if len(backup) % 200 == 0:
        print(f"{len(backup)} responses done...")

In [229]:
#hmm
rev_coord = lambda x: requests.get(
    f"https://revgeocode.search.hereapi.com/v1/revgeocode?at={x.latitude},{x.longitude}&apiKey={auth}"
).json()
reversed_coord = new_one.loc[:,["latitude", "longitude"]].apply(rev_coord, axis = 1)

In [ ]:
# county list to sanity check
municipalities = ["København","Aarhus","Aalborg","Odense","Vejle","Esbjerg","Frederiksberg","Randers","Viborg","Silkeborg","Kolding","Horsens","Herning","Roskilde","Næstved","Slagelse","Gentofte","Sønderborg","Holbæk","Gladsaxe","Hjørring","Skanderborg","Helsingør","Køge","Guldborgsund","Frederikshavn","Holstebro","Svendborg","Aabenraa","Rudersdal","Lyngby-Taarbæk","Ringkøbing-Skjern","Haderslev","Hvidovre","Høje Taastrup","Faaborg-Midtfyn","Hillerød","Fredericia","Greve","Varde","Ballerup","Kalundborg","Favrskov","Hedensted","Frederikssund","Skive","Vordingborg","Egedal","Syddjurs","Thisted","Vejen","Tårnby","Mariagerfjord","Ikast-Brande","Rødovre","Furesø","Fredensborg","Gribskov","Assens","Lolland","Bornholm", "Middelfart","Jammerbugt","Tønder","Norddjurs","Faxe","Vesthimmerlands","Brønderslev","Brøndby","Ringsted","Odsherred","Nyborg","Halsnæs","Rebild","Sorø","Nordfyns","Herlev","Lejre","Albertslund","Billund","Allerød","Hørsholm","Kerteminde","Solrød","Odder","Ishøj","Stevns","Glostrup","Struer","Morsø","Lemvig","Vallensbæk","Dragør","Langeland","Ærø","Samsø","Fanø","Læsø"]

In [255]:
def get_counties(reversed_coord):
    county = reversed_coord["items"][0]["address"]["county"]
    if county == "Lyngby Tårbæk":
        county = "Lyngby-Taarbæk"
    if county in municipalities:
        return county
    else:
        print(county)
        raise ValueError("Oops")

In [261]:
new_one["municipality"] = reversed_coord.apply(get_counties)

<ipython-input-261-d357cb0605b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_one["municipality"] = reversed_coord.apply(get_counties)

In [280]:
# Unable to find anything for these 5 indices
new_one = new_one[~new_one.index.isin([62736, 321501, 88915, 125243, 321570])]

In [281]:
new_one["year"] = pd.to_datetime(new_one.created_at).dt.year

<ipython-input-281-4447859d3bc6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_one["year"] = pd.to_datetime(new_one.created_at).dt.year

In [332]:
new_one.loc[key, "address"]

'Hammerensgade 2, 1267 København, Denmark'

In [334]:
# Some of the addresses from Plugshare were badly defined, here.api has more precise addresses, we augment the data here
for key, x in new_one.address.items():
    if len(x.split(",")) < 2:
        new_one.loc[key, "address"] = reversed_coord[key]["items"][0]["address"]["label"]

/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [335]:
new_one.head()

,latitude,longitude,address,created_at,municipality,city,zip_code,plugs,cost_description,description,country_code,closest_in_meters,year
id,,,,,,,,,,,,,
96548,55.494803,9.721409,"Teglgårdsvej 73, 5500 Middelfart, Denmark",2016-10-01T10:37:25Z,Middelfart,Middelfart,5500,11,Free,Free for hotel guests: http://www.sinatur.dk/m...,DK,1507,2016
337709,55.653682,12.614406,"Elbagade 28, 2300 København, Danmark",2021-09-09T20:26:12Z,København,København,2300,11,Clever,,DK,233,2021
91943,56.292127,10.444662,"Præstekravevej 46, 8410 Rønde, Denmark",2016-07-25T14:01:47Z,Syddjurs,Rønde,8410,11,,2x Red CEE Free for hotel guests\nTesla Destin...,DK,2753,2016
70961,55.215571,9.372034,"Sønderjyske Motorvej 684, 6500 Vojens, Denmark",2015-09-12T00:45:42Z,Haderslev,Vojens,6500,11,clever.dk,"Clever 50 kW DC, 43 kW aC",DK,8945,2015
81790,55.694021,12.544642,"Husumgade 32, 2200 København N, Denmark",2016-03-02T11:14:06Z,København,København,2200,11,,Charging Station Virta,DK,423,2016

In [114]:
new_one.closest_in_meters.astype(float)[-10:]

id
72088       517.0
35637      1647.0
244297      149.0
96549     11470.0
284811     1197.0
62736         NaN
321501        NaN
88915         NaN
125243        NaN
321570        NaN
Name: closest_in_meters, dtype: float64

In [109]:
new_one.groupby("municipality").mean()

                              latitude  longitude             id  plugs
municipality
Aabenraa Municipality        54.964887   9.376422   71427.600000   11.0
Aalborg Municipality         57.031245   9.960653   79836.227273   11.0
Aarhus                       56.153864  10.213669  110575.000000   11.0
Aarhus Municipality          56.166910  10.177200   85744.454545   11.0
Albertslund Municipality     55.656858  12.356072  108553.000000   11.0
...                                ...        ...            ...    ...
Vejle Municipality           55.711232   9.501026   80055.571429   11.0
Vesthimmerland Municipality  56.834910   9.386620  127734.200000   11.0
Viborg Municipality          56.426259   9.429478   99250.083333   11.0
Vordingborg Municipality     55.014899  12.129175   80162.500000   11.0
Ærø Municipality             54.890839  10.411746  160785.000000   11.0

[96 rows x 4 columns]

### Verification

In [225]:
np.round(lon, 6)

12.614406

In [248]:
[response["routes"][0]["sections"][0]["departure"]["place"]["originalLocation"].values() for response in backup[:50]]

[dict_values([55.4948029, 9.721409]),
 dict_values([55.4948029, 9.721409]),
 dict_values([55.4948029, 9.721409]),
 dict_values([55.4948029, 9.721409]),
 dict_values([55.4948029, 9.721409]),
 dict_values([55.4948029, 9.721409]),
 dict_values([55.4948029, 9.721409]),
 dict_values([55.4948029, 9.721409]),
 dict_values([55.4948029, 9.721409]),
 dict_values([55.653682, 12.6144059]),
 dict_values([55.653682, 12.6144059]),
 dict_values([55.653682, 12.6144059]),
 dict_values([55.653682, 12.6144059]),
 dict_values([55.653682, 12.6144059]),
 dict_values([55.653682, 12.6144059]),
 dict_values([55.653682, 12.6144059]),
 dict_values([55.653682, 12.6144059]),
 dict_values([55.653682, 12.6144059]),
 dict_values([56.2921269, 10.444662]),
 dict_values([56.2921269, 10.444662]),
 dict_values([56.2921269, 10.444662]),
 dict_values([56.2921269, 10.444662]),
 dict_values([56.2921269, 10.444662]),
 dict_values([56.2921269, 10.444662]),
 dict_values([56.2921269, 10.444662]),
 dict_values([56.2921269, 10.444662]),
 dict_values([56.2921269, 10.444662]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.215571, 9.3720339]),
 dict_values([55.694021, 12.5446419]),
 dict_values([55.694021, 12.5446419]),
 dict_values([55.694021, 12.5446419]),
 dict_values([55.694021, 12.5446419]),
 dict_values([55.694021, 12.5446419]),
 dict_values([55.694021, 12.5446419]),
 dict_values([55.694021, 12.5446419]),
 dict_values([55.694021, 12.5446419]),
 dict_values([55.694021, 12.5446419]),
 dict_values([54.7699789, 11.8724049]),
 dict_values([54.7699789, 11.8724049]),
 dict_values([54.7699789, 11.8724049]),
 dict_values([54.7699789, 11.8724049]),
 dict_values([54.7699789, 11.8724049])]

In [265]:
last_lat = 0
last_lon = 0
pointer = 0
for response in backup:
    lat, lon = response["routes"][0]["sections"][0]["departure"]["place"]["originalLocation"].values()
    if lat != last_lat and lon != last_lon:
        last_lat = lat
        last_lon = lon
        pointer += 1
    neighbors_of_point = knn[pointer]
    for neighbor in neighbors_of_point[1:]:
        closest = df.iloc[neighbor]
        meter = response["routes"][0]["sections"][0]["travelSummary"]["length"]
        if meters[i] > meter:
            meters[i] = meter

1652

In [271]:
knn[0][1]

1378

,latitude,longitude,address,created_at,id,municipality,city,zip_code,plugs,cost_description,description,country_code,closest_in_meters
1378,55.130795,9.129304,"Hovedgaden 3, Agerskov, 6534, Denmark",2019-01-05T12:26:20Z,176712,None,Agerskov,6534,11,,Charging Station Virta\n- Er på en nyopført pa...,DK,100000

In [186]:
len(np.where(df.closest_in_meters >= 100000)[0])

1135

In [129]:
sample = df.sample()
idx = sample.index[0]
orig_lat, orig_lon = sample.values[0][:2]

In [182]:
sample

,latitude,longitude,address,created_at,id,municipality,city,zip_code,plugs,cost_description,description,country_code,closest_in_meters
1277,57.041023,8.507332,"Krovej 3, Klitmøller, 7700 Thisted",2015-08-15T18:17:06Z,69242,Thisted Municipality,Thisted,7700,11,E.ON (http://www.eon.dk/e-mobility/),,DK,100000

In [178]:
meters = 100000
neighbors_of_point = knn[np.where(df.index == idx)][0][1:]
for neighbor in neighbors_of_point:
    dest_lat = df.iloc[neighbor].latitude
    dest_lon = df.iloc[neighbor].longitude
    fuck = requests.get(f"https://router.hereapi.com/v8/routes?apiKey={auth}&transportMode=car&origin={orig_lat},{orig_lon}&destination={dest_lat},{dest_lon}&return=travelSummary")
    response = fuck.json()
    #backup.append(response)
    meter = response["routes"][0]["sections"][0]["travelSummary"]["length"]
    if meters > meter:
        meters = meter

In [179]:
meters

11461

In [30]:
pd.to_pickle(meters, "meters_475_first")
pd.to_pickle(backup, "backup_475_first")

In [31]:
f"{df.iloc[0].address} is {measure(df.iloc[0].values[:2], df.iloc[1378].values[:2]):.2f} meters from {df.iloc[1378].address} - coordinately"

'Teglgårdsvej 73, 5500 Middelfart, Denmark is 1301.54 meters from Søndergade 63-67, Middelfart, 5500, DK - coordinately'

In [173]:
df.iloc[knn[0][2]]

latitude                                                    55.505095
longitude                                                    9.731308
address                    Søndergade 63-67, 5500 Middelfart, Denmark
created_at                                       2015-06-05T08:25:22Z
id                                                              65649
municipality                                  Middelfart Municipality
city                                                       Middelfart
zip_code                                                         5500
plugs                                                              11
cost_description                                            clever.dk
description         Placeret på parkeringspladsen mellem Søndergad...
country_code                                                       DK
Name: 871, dtype: object

In [21]:
header = {
    "Authorization": f"Bearer {auth}"
}
payload = {"app_id": "WGe8etMiG0hs0SO7AM3C", "app_code": "WGe8etMiG0hs0SO7AM3C"}

In [101]:
fuck = requests.get(f"https://geocode.search.hereapi.com/v1/geocode?apiKey={auth}&q={api_address[0]}")

In [102]:
fuck.content

b'{"items":[{"title":"Teglg\xc3\xa5rdsvej 73, 5500 Middelfart, Danmark","id":"here:af:streetsection:W2LO1TJx3zg86SvH.IUHqD:CgcIBCCM_OleEAEaAjcz","resultType":"houseNumber","houseNumberType":"PA","address":{"label":"Teglg\xc3\xa5rdsvej 73, 5500 Middelfart, Danmark","countryCode":"DNK","countryName":"Danmark","state":"Syddanmark","county":"Middelfart","city":"Middelfart","street":"Teglg\xc3\xa5rdsvej","postalCode":"5500","houseNumber":"73"},"position":{"lat":55.49457,"lng":9.72149},"access":[{"lat":55.4949,"lng":9.72096}],"mapView":{"west":9.7199,"south":55.49367,"east":9.72308,"north":55.49547},"scoring":{"queryScore":1.0,"fieldScore":{"country":1.0,"city":1.0,"streets":[1.0],"houseNumber":1.0,"postalCode":1.0}}}]}'

In [24]:
boo = requests.get(f"https://geocoder.ls.hereapi.com/6.2/geocode.json?apiKey={auth}&searchtext=425+W+Randolph+Chicago")

In [25]:
boo.content

b'{"Response":{"MetaInfo":{"Timestamp":"2021-11-16T19:06:30.572+0000"},"View":[{"_type":"SearchResultsViewType","ViewId":0,"Result":[{"Relevance":1.0,"MatchLevel":"houseNumber","MatchQuality":{"City":1.0,"Street":[0.9],"HouseNumber":1.0},"MatchType":"pointAddress","Location":{"LocationId":"NT_Opil2LPZVRLZjlWNLJQuWB_0ITN","LocationType":"point","DisplayPosition":{"Latitude":41.88432,"Longitude":-87.63877},"NavigationPosition":[{"Latitude":41.88449,"Longitude":-87.63877}],"MapView":{"TopLeft":{"Latitude":41.8854442,"Longitude":-87.64028},"BottomRight":{"Latitude":41.8831958,"Longitude":-87.63726}},"Address":{"Label":"425 W Randolph St, Chicago, IL 60606, United States","Country":"USA","State":"IL","County":"Cook","City":"Chicago","District":"West Loop","Street":"W Randolph St","HouseNumber":"425","PostalCode":"60606","AdditionalData":[{"value":"United States","key":"CountryName"},{"value":"Illinois","key":"StateName"},{"value":"Cook","key":"CountyName"},{"value":"N","key":"PostalCodeType"}]}}}]}]}}'

## Energy

In [297]:
yes = requests.get("https://api.energidataservice.dk/package_list")

In [303]:
yes.json()

{'help': 'https://api.energidataservice.dk/help_show?name=package_list',
 'success': True,
 'result': ['afrrreservesdk1',
  'calorificvalues',
  'capacityauctiondk1',
  'capacityauctiondk2',
  'capacitypermunicipality',
  'co2emis',
  'co2emisprog',
  'communityproduction',
  'consumptionde35hour',
  'consumptiondk3619codehour',
  'consumptionpergridarea',
  'consumptionpermunicipalityde35',
  'datahubmeasuringpointstatistics',
  'datahubpricelist',
  'declarationcoveragehour',
  'declarationemissionhour',
  'declarationproductiontypeshour',
  'electricitybalance',
  'electricitybalancenonv',
  'electricityprodex5minrealtime',
  'electricitysupplierspergridarea',
  'elspotprices',
  'entryexitgasquality',
  'fcrreservesdk1',
  'fcrreservesdk2',
  'ffrdemanddk2',
  'fixedresidualconsumption',
  'forecasts_5min',
  'forecasts_hour',
  'foreignexchange',
  'gascomposition',
  'gascompositionmonthly',
  'gascompositionyearly',
  'gasflow',
  'gassystemrightnow',
  'herfindahlhirschmanindexhhipergridarea',
  'industrycodes_de35',
  'inertianordicsyncharea',
  'mfrrreservesdk1',
  'mfrrreservesdk2',
  'mrstationsgasquality',
  'nordpoolmarket',
  'powersupplierchangepergridarea',
  'powersystemrightnow',
  'productionconsumptionsettlement',
  'realtimemarket',
  'storageavailablepct',
  'storagecapacity',
  'storagenomination',
  'storageutilization',
  'transmissionlines']}