In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.read_excel("energidata/Kort 1- DSO indpasning og tilslutning4.xlsx")

,PriceArea,RegionName,County,Station,ConnectionPointName,ConnectionPointLatitude,ConnectionPointLongitude,AvailCapDSOProd
0,DK1,Syddanmark,Tønder,ABI,Abild,54.981990,8.881553,20
1,DK1,Nordjylland,Vesthimmerland,ABO,Aggersborg,57.016223,9.212418,0
2,DK1,Syddanmark,Assens,ABS,Abildskov,55.249257,10.168535,40
3,DK1,Nordjylland,Aalborg,ADL,Ådalen,57.024592,9.920004,100
4,DK1,Syddanmark,Varde,AGB,Agerbæk,55.602426,8.844975,0
...,...,...,...,...,...,...,...,...
890,DK2,Sjælland,Næstved,ØSH,Østerholm,55.204930,11.742552,0
891,DK2,Hovedstaden,Bornholm,ØSL,Østerlars,55.165320,14.965580,0
892,DK2,Sjælland,Vordingborg,ØTB,øtb,54.753569,11.828558,0
893,DK2,Sjælland,Holbæk,ÅGE,Ågerup,55.655788,11.752093,0
894,DK2,Hovedstaden,Bornholm,AAKI,Åkirkeby,55.068155,14.897913,0

In [3]:
pd.read_excel("energidata/Kort 2- TSO indpasning. Eksisterende trm.net4.xlsx")

,Eksisterende transmissionsnet,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ledig kapacitet for indpasning i transmissions...,Forstærkningstype for indpasning af den næste ...,"Estimeret tid for etablering af ""MarginalReinf..."
1,PriceArea,Region,County,Station,Name,Latitude,Longitude,AvailCapTSOAccessProd,MarginalReinforcementType,TimePeriod_MarginalReinforcement
2,DK1,Syddanmark,Assens,ABS,Abildskov,55.249257,10.168535,0,Netkapacitet,"> 4,5 år"
3,DK1,Nordjylland,Aalborg,ADL,Ådalen,57.024592,9.920004,290,Netkapacitet,"> 4,5 år"
4,DK1,Syddanmark,Vejen,AND,Andst,55.472217,9.246799,50,Netkapacitet,"> 4,5 år"
...,...,...,...,...,...,...,...,...,...,...
144,DK2,Hovedstaden,Høje-Taastrup,VEJ,Vejleå,55.660772,12.319345,90,Netkapacitet,"> 4,5 år"
145,DK2,Hovedstaden,København,VIK,Vigerslevkbst.,55.66172,12.51528,200,Netkapacitet,"> 4,5 år"
146,DK2,Sjælland,Lolland,VLO,Vestlolland,54.840392,11.188055,0,Transformer- og netkapacitet,"> 4,5 år"
147,DK2,Hovedstaden,Egedal,ØLS,Ølstykkegård,55.77148,12.143712,110,Transformerkapacitet,"> 4,5 år"
148,DK2,Sjælland,Næstved,ØSH,Østerholm,55.20493,11.742552,0,Netkapacitet,"> 4,5 år"

In [4]:
pd.read_excel("energidata/Kort 2- TSO indpasning. Med planlagte trm. udbygninger4.xlsx")

,Med planlagte netforstærkninger i transmissionsnettet,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ledig kapacitet for indpasning i transmissions...,Forstærkningstype for indpasning af den næste ...,"Estimeret tid for etablering af ""MarginalReinf..."
1,PriceArea,Region,County,Station,Name,Latitude,Longitude,AvailCapTSOAccessProd,MarginalReinforcementType,TimePeriod_MarginalReinforcement
2,DK1,Syddanmark,Assens,ABS,Abildskov,55.249257,10.168535,60,Transformerkapacitet,"3-4,5 år"
3,DK1,Nordjylland,Aalborg,ADL,Ådalen,57.024592,9.920004,300,Transformer- og netkapacitet,"> 4,5 år"
4,DK1,Syddanmark,Vejen,AND,Andst,55.472217,9.246799,50,Netkapacitet,"> 4,5 år"
...,...,...,...,...,...,...,...,...,...,...
144,DK2,Hovedstaden,Høje-Taastrup,VEJ,Vejleå,55.660772,12.319345,90,Netkapacitet,"> 4,5 år"
145,DK2,Hovedstaden,København,VIK,Vigerslevkbst.,55.66172,12.51528,200,Netkapacitet,"> 4,5 år"
146,DK2,Sjælland,Lolland,VLO,Vestlolland,54.840392,11.188055,0,Transformer- og netkapacitet,"> 4,5 år"
147,DK2,Hovedstaden,Egedal,ØLS,Ølstykkegård,55.77148,12.143712,130,Transformerkapacitet,"> 4,5 år"
148,DK2,Sjælland,Næstved,ØSH,Østerholm,55.20493,11.742552,0,Netkapacitet,"> 4,5 år"

In [14]:
ind_og_tilslutning = pd.read_excel("energidata/Kort 3- TSO indpasning og tilslutning. Med planlagte trm. udbygninger4.xlsx")

In [20]:
ind_og_tilslutning.iloc[0,8]

'Estimeret tid for tilslutning og fuld indpasing af "AvailCapTSOProd"'

In [12]:
usage_data = pd.read_excel("energidata/Kort 4- Forbrugsdækning pr kommune 20254.xlsx")
usage_data.to_csv("energidata/usage.csv")

In [13]:
usage_data["County" == ]

,County,ConsumptionCoverageMWh_%,ConsumptionCoverageWindMWh_%,ConsumptionCoverageSolarMWh_%,ConsumptionCoverageThermalMWh_%
0,Albertslund,0.14,0.00,0.14,0.00
1,Allerød,8.45,1.77,0.34,6.34
2,Ballerup,2.75,0.04,0.11,2.60
3,Brøndby,4.64,0.00,4.64,0.00
4,Egedal,4.66,0.05,4.21,0.39

In [21]:
chargers = pd.read_pickle("standers2.pickle")

In [23]:
chargers.to_csv("visualization/chargers.csv")

In [39]:
chargers.municipality.values[1] == None

True

In [42]:
(chargers.municipality.values == None).sum()

1021

In [43]:
chargers.head()

,latitude,longitude,address,created_at,id,municipality,city,zip_code,plugs,cost_description,description,country_code,closest_in_meters
id,,,,,,,,,,,,,
96548,55.494803,9.721409,"Teglgårdsvej 73, 5500 Middelfart, Denmark",2016-10-01T10:37:25Z,96548,Middelfart Municipality,Middelfart,5500,11,Free,Free for hotel guests: http://www.sinatur.dk/m...,DK,1507
337709,55.653682,12.614406,"Elbagade 28, 2300 København, Danmark",2021-09-09T20:26:12Z,337709,None,København,2300,11,Clever,,DK,233
91943,56.292127,10.444662,"Præstekravevej 46, 8410 Rønde, Denmark",2016-07-25T14:01:47Z,91943,Syddjurs Municipality,Rønde,8410,11,,2x Red CEE Free for hotel guests\nTesla Destin...,DK,2753
70961,55.215571,9.372034,"Sønderjyske Motorvej 684, 6500 Vojens, Denmark",2015-09-12T00:45:42Z,70961,Haderslev Municipality,Vojens,6500,11,clever.dk,"Clever 50 kW DC, 43 kW aC",DK,8945
81790,55.694021,12.544642,"Husumgade 32, 2200 København N, Denmark",2016-03-02T11:14:06Z,81790,København,København,2200,11,,Charging Station Virta,DK,423

In [45]:
chargers.municipality.unique()

97

In [47]:
municipalities = ["Københavns","Aarhus","Aalborg","Odense","Vejle","Esbjerg","Frederiksberg","Randers","Viborg","Silkeborg","Kolding","Horsens","Herning","Roskilde","Næstved","Slagelse","Gentofte","Sønderborg","Holbæk","Gladsaxe","Hjørring","Skanderborg","Helsingør","Køge","Guldborgsund","Frederikshavn","Holstebro","Svendborg","Aabenraa","Rudersdal","Lyngby-Taarbæk","Ringkøbing-Skjern","Haderslev","Hvidovre","Høje-Taastrup","Faaborg-Midtfyn","Hillerød","Fredericia","Greve","Varde","Ballerup","Kalundborg","Favrskov","Hedensted","Frederikssund","Skive","Vordingborg","Egedal","Syddjurs","Thisted","Vejen","Tårnby","Mariagerfjord","Ikast-Brande","Rødovre","Furesø","Fredensborg","Gribskov","Assens","Lolland","Bornholm", "Middelfart","Jammerbugt","Tønder","Norddjurs","Faxe","Vesthimmerlands","Brønderslev","Brøndby","Ringsted","Odsherred","Nyborg","Halsnæs","Rebild","Sorø","Nordfyns","Herlev","Lejre","Albertslund","Billund","Allerød","Hørsholm","Kerteminde","Solrød","Odder","Ishøj","Stevns","Glostrup","Struer","Morsø","Lemvig","Vallensbæk","Dragør","Langeland","Ærø","Samsø","Fanø","Læsø"]

In [72]:
import re

In [77]:
def func(x):
    composen = x.split(",")
    if len(composen) > 1:
        return re.sub("[0-9]", "", composen[-2]).strip()
    else:
        return composen[0]

In [78]:
chargers["address"].apply(func)

id
96548           Middelfart
337709           København
91943                Rønde
70961               Vojens
81790          København N
                ...
62736               Aarhus
321501    Kroghs kobbel 16
88915        Frederiksberg
125243            ‎ Sindal
321570              Søborg
Name: address, Length: 1805, dtype: object

In [80]:
chargers.municipality.str.replace(" Municipality", "")

id
96548        Middelfart
337709             None
91943          Syddjurs
70961         Haderslev
81790         København
              ...
62736            Aarhus
321501             None
88915     Frederiksberg
125243         Hjørring
321570             None
Name: municipality, Length: 1805, dtype: object